.posts-wrapper {
    width: 25em;
    margin: 0 auto;
    display: block;
}
.d-flex .form-control {
    width: 17em;
}

li {
    list-style-type: none;
    margin-top: 0.5em;
    padding-left: 0.3em;
    box-shadow: 0 0 3px whitesmoke;
    border-radius: 3px;
}
ul {
    margin-left: 0;
    padding-left: 0;
}
