.header-wrapper {
    display: flex;
}

ul.nav {
    margin: 0 0 0 1em;
    padding: .7em 0 0 0;
    list-style-type: none;
}

ul.nav li {
    display: inline;
    font-size: 2rem;
    margin: 0 0 0 .5em;
}
ul.nav a {
    text-decoration: none;
    color: #fff1b6;
}

ul.nav a:hover {
    color: #cfee8f;
}

p {
    margin: 0 0 0 1em;
    font-size: 3rem;
}