.header-wrapper {
    display: flex;
    margin: 1em 0 0 0;
}

ul.nav {
    margin: 0 0 0 2em;
    padding: 1em 0 0 0;
    list-style-type: none;
}

ul.nav li {
    display: inline;
    font-size: 1.5em;
    margin: 0 0 0 .5em;
}
ul.nav a {
    text-decoration: none;
    color: #fff1b6;
}

ul.nav a:hover {
    color: #cfee8f;
}

.header-wrapper p {
    margin: 0 0 0 1em;
    font-size: 2.5rem;
}