.profile-information {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    width: 28em;
    margin-top: 2em;
    align-items: center;
}



