.random-planet-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #292929;
    margin: 3em 0 2em 0;
    border-radius: .5em;
    padding: 1em;
}

.rndplanet {
    font-size: 1.5em;
    width: max-content;
}

.rndplanet h4 {
    margin: 0;
    font-size: 1.75em;
}

.rndplanet li {
    margin: .25em 0 0 1.25em;
    padding: 0;
    list-style-type: none;
    border-top: 2px solid #444;
    width: fit-content;
}

.rand-img {
    border-radius: 1em;
    height: 12em;
}

.spinner {
    margin: auto auto;
}